<p>employeeees works!</p>
<div>
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      >
        Add-User
      </h2>
</div>
<form
      [formGroup]="this.service.form"

    >

    <div>
          <label for="Name" class="sr-only">Name</label>
          <input
            id="Name"
            name="Name"
            type="Name"
            autocomplete="Name"
            required
            class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Name"
            [formControlName]="'FullName'"
          />
        </div>
<div>
        <button

          type="submit"
          (click)="onClick()"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >Click</button>
